.pics {
    width: 150px;
    height: 150px;
    margin: 12px;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #fff;

    &:hover {
        border: 4px solid gainsboro;
        cursor: pointer;
    }

    &:user-select {
        border: 4px solid gray;
    }
}

.landingpage {
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/img/register.png');
    background-size: cover;

    .signupblock {
        margin-top: 7%;
    }

    .innerblk {
        margin-left: 8%;
    }
   
    .displaytext {
        font-size: 32px;
        color: #fff;
        text-align: center;
    }
    .clickbtn{
        background-color: #636569;
        color: #fff;
        font-size:12px;
    }
    .gender{
        width: 81%;
        margin: 0 auto;
        font-size: 12px;
        input{
            margin-left: 5px;
            margin-top:5px;
        }
    }
    .btnblk{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button{
            margin-top:15px;
        }
    }
}



::ng-deep .modal-dialog {
    max-width: 80%;
    width: 80%;
}