<div class="container-fluid landingpage">
    <div class="row no-gutter">
        <!-- Demo content-->
        <div class="container signupblock">
            <div class="row">
                <div class="col-lg-6 col-xl-3 innerblk">
                    <h3 class="displaytext">Register</h3>
                    <p></p>
                    <form [formGroup]="signupForm">
                        <div class="form-group mb-3">
                            <input id="inputusername" type="username" [(ngModel)]="newuser.Username"
                                formControlName="username" [ngClass]="{ 'is-invalid': submitted  }"
                                placeholder="Username" required="" autofocus=""
                                class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3">
                            <input id="inputemail" type="email" formControlName="email" [(ngModel)]="newuser.email"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Enter EmailId" required=""
                                autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3">
                            <input id="inputPassword" type="password" formControlName="password"
                                [(ngModel)]="newuser.Password" [ngClass]="{ 'is-invalid': submitted  }"
                                placeholder="Password" required=""
                                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                        </div>

                        <div class="form-group mb-3">
                            <input id="inputmobile" type="mobile" formControlName="mobile" [(ngModel)]="newuser.mobile"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Mobile number" required=""
                                autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3 gender">

                            <label class="custom-control-label">Gender :</label>
                            <input type="radio" value="male" name="gender" formControlName="gender"
                                [(ngModel)]="newuser.gender"><span class="spancls"> Male</span>
                            <input type="radio" value="female" name="gender" formControlName="gender"
                                [(ngModel)]="newuser.gender"> <span class="spancls"> Female</span>

                        </div>
                        <div class="form-group mb-3 btnblk">
                            <div class="btn btn-block clickbtn " (click)="open(content)">
                                Select Your Avatar</div>
                            <button type="submit"
                                class="btn btn-block clickbtn  rounded-pill shadow-sm"
                                (click)="signup()">Register User</button>

                        </div>

                    </form>
                </div>
            </div>
        </div><!-- End -->

    </div>

</div>
<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Your Avatar</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="newuser.gender=='male'">
            <div *ngFor='let in of newmale;let i = index' class="male pics pic_{{in}}" (click)="selectphoto(in)">

            </div>
        </div>
        <div *ngIf="newuser.gender=='female'">
            <div *ngFor='let in of newfemale;let i = index' class="female pics pic_{{in}}" (click)="selectphoto(in)">
            </div>
        </div>
    </div>
    <!-- ,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39-->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>