<div class="container-fluid landingpage">
    <div class="row no-gutter">
        <!-- Demo content-->
        <div class="container signupblock">
            <div class="row">
                <div class="col-lg-6 col-xl-3 innerblk">
                    <h3 class="displaytext">Register</h3>
                    <p></p>
                    <form [formGroup]="signupForm">
                        <div class="form-group mb-3">
                            <input id="inputusername" type="username" [(ngModel)]="newuser.Username"
                                formControlName="username" [ngClass]="{ 'is-invalid': submitted  }"
                                placeholder="Username" required="" autofocus=""
                                class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3">
                            <input id="inputemail" type="email" formControlName="email" [(ngModel)]="newuser.email"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Enter EmailId" required=""
                                autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3">
                            <input id="inputPassword" type="password" formControlName="password"
                                [(ngModel)]="newuser.Password" [ngClass]="{ 'is-invalid': submitted  }"
                                placeholder="Password" required=""
                                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                        </div>

                        <div class="form-group mb-3">
                            <input id="inputmobile" type="mobile" formControlName="mobile" [(ngModel)]="newuser.mobile"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Mobile number" required=""
                                autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3 gender">

                            <label class="custom-control-label">Gender :</label>
                            <input type="radio" value="male" name="gender" formControlName="gender"
                                [(ngModel)]="newuser.gender"><span class="spancls"> Male</span>
                            <input type="radio" value="female" name="gender" formControlName="gender"
                                [(ngModel)]="newuser.gender"> <span class="spancls"> Female</span>

                        </div>

                        <div class="form-group mb-3 btnblk">

                            <button type="submit" class="btn btn-block clickbtn  rounded-pill shadow-sm"
                                (click)="signup()">Register User</button>

                        </div>
                    </form>
                </div>
            </div>
        </div><!-- End -->

    </div>

</div>