

.landingpage {
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/img/register.png');
    background-size: cover;

    .signupblock {
        margin-top: 7%;
    }

    .innerblk {
        margin-left: 8%;
    }
   
    .displaytext {
        font-size: 32px;
        color: #fff;
        text-align: center;
    }
    .clickbtn{
        background-color: #636569;
        color: #fff;
        font-size:12px;
    }
    .gender{
        width: 81%;
        margin: 0 auto;
        font-size: 12px;
        input{
            margin-left: 5px;
            margin-top:5px;
        }
    }
    .btnblk{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button{
            margin-top:15px;
        }
    }
}



