/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'poppin';
    src: url('./assets/font/Poppins.otf');
}

html,
body {
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'poppin';
}


app-maincity,
app-login,
app-signup,
app-home {
    height: 100%;
    width: 100%;



}

::ng-deep .modal-dialog {
    max-width: 80%;
    width: 80%;
}

.pic_0 {
    background-image: url('./assets/img/male1.svg');

}

.pic_1 {
    background-image: url('./assets/img/male2.svg');
}

.pic_2 {
    background-image: url('./assets/img/male3.svg');
}

.pic_3 {
    background-image: url('./assets/img/male4.svg');
}

.pic_4 {
    background-image: url('./assets/img/male5.svg');
}

.pic_5 {
    background-image: url('./assets/img/male6.svg');
}

.pic_6 {
    background-image: url('./assets/img/male7.svg');
}

.pic_7 {
    background-image: url('./assets/img/male8.svg');
}

.pic_8 {
    background-image: url('./assets/img/male9.svg');
}

.pic_9 {
    background-image: url('./assets/img/male10.svg');
}

.pic_10 {
    background-image: url('./assets/img/male11.svg');
}

.pic_11 {
    background-image: url('./assets/img/male12.svg');
}

.pic_12 {
    background-image: url('./assets/img/male13.svg');
}

.pic_13 {
    background-image: url('./assets/img/male14.svg');
}

.pic_14 {
    background-image: url('./assets/img/male15.svg');
}

.pic_15 {
    background-image: url('./assets/img/male16.svg');
}

.pic_16 {
    background-image: url('./assets/img/male17.svg');
}

.pic_17 {
    background-image: url('./assets/img/male18.svg');
}

.pic_18 {
    background-image: url('./assets/img/male19.svg');
}

.pic_19 {
    background-image: url('./assets/img/male20.svg');
}

.pic_20 {
    background-image: url('./assets/img/female1.svg');
}

.pic_21 {
    background-image: url('./assets/img/female2.svg');
}

.pic_22 {
    background-image: url('./assets/img/female3.svg');
}

.pic_23 {
    background-image: url('./assets/img/female4.svg');
}

.pic_24 {
    background-image: url('./assets/img/female5.svg');
}

.pic_25 {
    background-image: url('./assets/img/female6.svg');
}

.pic_26 {
    background-image: url('./assets/img/female7.svg');
}

.pic_27 {
    background-image: url('./assets/img/female8.svg');
}

.pic_28 {
    background-image: url('./assets/img/female9.svg');
}

.pic_29 {
    background-image: url('./assets/img/female10.svg');
}

.pic_30 {
    background-image: url('./assets/img/female11.svg');
}

.pic_31 {
    background-image: url('./assets/img/female12.svg');
}

.pic_32 {
    background-image: url('./assets/img/female13.svg');
}

.pic_33 {
    background-image: url('./assets/img/female14.svg');
}

.pic_34 {
    background-image: url('./assets/img/female15.svg');
}

.pic_35 {
    background-image: url('./assets/img/female16.svg');
}

.pic_36 {
    background-image: url('./assets/img/female17.svg');
}

.pic_37 {
    background-image: url('./assets/img/female18.svg');
}

.pic_38 {
    background-image: url('./assets/img/female19.svg');
}

.pic_39 {
    background-image: url('./assets/img/female20.svg');
}

.pics {
    width: 150px;
    height: 150px;
    margin: 12px;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #fff;

    &:hover {
        border: 4px solid gainsboro;
        cursor: pointer;
    }

    &:user-select {
        border: 4px solid gray;
    }
}

input::placeholder {
    opacity: 0.5 !important;
}

.form-control {
    font-size: 12px !important
}

.dropdown-toggle::after {
    border-top: 0.4em solid #fff !important;
    border-right: 0.4em solid transparent !important;
    border-bottom: 0;
    border-left: 0.4em solid transparent !important;
}

#dropdownBasic1 {
    font-size: 14px;
}

#dropdownBasic1::after {
    border-top: 0.4em solid #555 !important;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
    position: absolute;
    right: -14px;
    top: 18px;
}

.dropdown-menu.show {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    transform: translate(20px, 52px) !important;
    width: 310px !important;
    font-size: 14px;
}

.mat-tree-node {
    min-height: 30px !important;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.mat-tree {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

app-login,
app-signup {
    .form-control {
        width: 83% !important;
        margin: 0 auto !important;
    }
}

.maincity_container {
    .topbar {
        position: absolute;
        height: 50px;
        top: 0px;
        left: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;

        #logout {
            font-size: 12px;
        }

        .picholder {
            position: absolute;
            right: 28px;
            width: 40px;
            height: 40px;
        }

        .displaypic {
            position: absolute;
            width: 40px;
            height: 40px;
            background-size: cover;
            border-radius: 50%;
        }

        .cityname {
            position: absolute;
            margin: 0 auto;
            font-size: 26px;
            color: #000;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .displayrole {
            width: 100px;
            position: absolute;
            right: 69px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            height: 50px;
            display: flex;
            @extend .commmoncenter;
        }

        .logo {
            position: absolute;
            left: 0px;
            width: 250px;
            height: 49px;
            background-image: url('./assets/img/logo.png');
            background-size: cover;

        }

    }

    .maincity {
        .House1 {
            top: 3429px;
            left: 705px;
        }

        .common {
            position: absolute;
            width: 271px;
            height: 78px;
            color: #fff;
            font-size: 27px;
            text-align: center;
            line-height: 34px;
            @extend .commmoncenter;
        }

        .mayorofzboard {
            @extend .common;
            top: 2853px;
            left: 3518px;
        }

        .rightcolony {
            @extend .common;
            top: 3285px;
            left: 5457px;
        }

        .leftcolony {
            @extend .common;
            top: 3285px;
            left: 2301px;
        }

        .House2 {
            top: 3428px;
            left: 1042px;
        }

        .House3 {
            top: 3428px;
            left: 1379px;
        }

        .House4 {
            top: 3428px;
            left: 1715px;
        }

        .House5 {
            top: 3428px;
            left: 2054px;
        }

        .House6 {
            top: 3853px;
            left: 706px;
        }

        .House7 {
            top: 3853px;
            left: 1041px;
        }

        .House8 {
            top: 3854px;
            left: 1378px;
        }

        .House9 {
            top: 3853px;
            left: 1715px;
        }

        .House10 {
            top: 3854px;
            left: 2053px;
        }

        .Recycling {
            top: 3854px;
            left: 5938px;
        }

        .Supermarket {
            top: 3854px;
            left: 6275px;
        }

        .Grocery {
            top: 3853px;
            left: 6613px;
        }

        .Ubottle {
            top: 3853px;
            left: 6949px;
        }

        .Making {
            top: 3853px;
            left: 7287px;
        }

        .Reverse {
            top: 3428px;
            left: 7286px;
        }

        .Plastic {
            top: 3429px;
            left: 6950px;
        }

        .Refilling {
            top: 3428px;
            left: 6613px;
        }

        .Bottle {
            top: 3428px;
            left: 6275px;
        }

        .Mayor {
            top: 3428px;
            left: 5938px;
        }
    }

    .boardholder {
        .commoncls {
            position: absolute;
            background-size: cover;
            color: #fff;
            font-size: 20px;
            width: 100px;
            height: 38px;
            @extend .commmoncenter;

        }

        .Supermarket {
            @extend .commoncls;
            left: 1909px;
            top: 2457px;
            height: 49px;
            border-radius: 11%;
            background: #555;
        }

        .Plastic {
            @extend .commoncls;
            left: 1982px;
            top: 871px;
        }

        .Making {
            @extend .commoncls;
            left: 4185px;
            top: 615px;
        }

        .Ubottle {
            @extend .commoncls;
            left: 4500px;
            top: 1511px
        }

        .Refilling {
            @extend .commoncls;
            left: 5622px;
            top: 2807px;
        }
    }

    .commmoncenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartimg {
        background-image: url('./assets/img/neoncart.svg');
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
    }

    .maincity {
        .cart {
            @extend .cartimg;
            height: 99px;
            width: 67px;



            .cartavatar {
                width: 30px;
                height: 30px;
                position: absolute;
                left: -30px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #000;
                left: 11px;
                font-size: 7px;
                top: -4px;
            }
        }
    }

    .supermarketstage {
        .newrak {
            background-image: url('./assets/img/rak.png');
            width: 1516px;
            height: 671px;
            position: absolute;
            left: 6925px;
            top: 2335px;

            .dropper {
                width: 133px;
                position: absolute;
                height: 93px;
                display: flex;
            }

            .shinyshelf {
                left: 25px;
                top: 528px;
            }

            .wavyshelf {
                left: 902px;
                top: 528px;
            }

            .silkyshelf {
                left: 1207px;
                top: 528px;
            }

            .bouncyshelf {
                left: 609px;
                top: 528px;
            }

        }

        .cart {
            @extend .cartimg;
            height: 399px;
            width: 367px;

            .cartavatar {
                width: 90px;
                height: 90px;
                position: absolute;
                left: -90px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #000;
                left: 43px;
                font-size: 30px;
                top: 12px;
            }
        }
    }

    .newbottleholder {
        width: 205px;
        position: absolute;
        left: 48px;
        top: 51px;
        height: 93px;
        display: flex;
    }

    .bottleholder {
        width: 205px;
        position: absolute;
        left: 60px;
        top: 200px;
        border: 1px solid;
        height: 93px;
        display: flex;

        .bottle {
            position: relative;
            background-size: cover;
            display: flex;
            cursor: move;
            z-index: 1;
            transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        }

    }

    .bottle {
        position: relative;
        background-size: cover;
        display: flex;
        cursor: move;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    }

    .bottledropper {
        width: 205px;
        position: absolute;
        left: 1660px;
        top: 2579px;
        border: 1px solid red;
        height: 93px;
        display: flex;
    }


}

.silky_vpn_17,
.silky_vpn_18,
.silky_vpn_19,
.silky_vpn_20 {
    background-image: url('./assets/img/silky.svg');
    width: 30px;
    height: 84px;
    position: absolute;
    top: 99px;
    background-size: contain;
}

.silky_vpn_17_big,
.silky_vpn_18_big,
.silky_vpn_19_big,
.silky_vpn_20_big {
    background-image: url('./assets/img/silky.svg');
    width: 275px;
    height: 768px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: contain;

}

.silky_vpn_17 {
    left: 1220px;
}

.silky_vpn_18 {
    left: 1250px;
}

.silky_vpn_19 {
    left: 1280px;
}

.silky_vpn_20 {
    left: 1310px;
}

.wavy {
    background-image: url('./assets/img/wavy.png');
    width: 31px;
    height: 77px;
}
.silky {
    background-image: url('./assets/img/silky.png');
    width: 31px;
    height: 77px;
}

.bouncy {
    background-image: url('./assets/img/bouncy.png');
    width: 35px;
    height: 77px;
}

.shiny {
    background-image: url('./assets/img/shiny.png');
    width: 35px;
    height: 77px;
}

.shiny_vpn_1,
.shiny_vpn_2 {
    background-image: url('./assets/img/shiny.png');
    width: 41px;
    height: 87px;
    position: absolute;
    top: 99px;
    background-size: contain;
}

.shiny_vpn_1_big,
.shiny_vpn_2_big {
    background-image: url('./assets/img/shiny.png');
    width: 361px;
    height: 768px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: contain;
}

.labelholder {
    position: relative;
    top: 476px;

    font-size: 11px;
    left: 224px;

    .Quantity {
        position: relative;
        left: -37px;
        top: -2px;
    }

    .Current_Refill_Count {
        position: relative;
        top: -5px;
        left: -16px;
    }

    .Latest_Refill_Date {
        position: relative;
        top: -8px;
    }

    .Shampoo_Price {
        position: relative;
        top: 6px;
        left: 17px;
    }

    .Content_Price {
        position: relative;
        top: 3px;
    }

    .Bottle_Price {

        position: relative;
        left: 22px;

    }

    .Discount_RefillB {
        position: relative;
        left: 47px;
        top: -3px;
    }

    .Total_price {
        position: relative;
        top: -15px;
        left: -20px;
    }

    .Redeem_Good {
        position: relative;
        left: 47px;
        top: -5px;
    }

    .AssetId {
        position: relative;
        left: -128px;
        top: -73px;
        transform: rotate(-90deg);
        color: #000;
        width: 60px;
        height: 30px;
        font-size: 9px;
    }

    .Discard_fine {
        position: relative;
        left: 54px;
        top: -9px;
    }

    .Env_Tax {
        position: relative;
        top: -12px;
        left: 5px;
    }
}

.shiny_uvpn_3_big,
.shiny_uvpn_4_big,
.bouncy_urpn_11_big,
.bouncy_urpn_12_big,
.wavy_urpn_13_big,
.wavy_urpn_14_big,
.wavy_urpr_15_big,
.wavy_urpr_16_big {
    background-image: url('./assets/img/universal.png');
    width: 300px;
    height: 768px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: contain;
}

.shiny_uvpn_3,
.shiny_uvpn_4,
.bouncy_urpn_11,
.bouncy_urpn_12,
.wavy_urpn_13,
.wavy_urpn_14,
.wavy_urpr_15,
.wavy_urpr_16 {
    background-image: url('./assets/img/universal.png');
    width: 35px;
    height: 90px;
    position: absolute;
    top: 379px;
    background-size: contain;
}

.spike_rpn_5,
.spike_rpn_6,
.spike_rpr_7,
.spike_rpr_8 {
    background-image: url('./assets/img/spiky.png');
    width: 34px;
    height: 90px;
    position: absolute;
    top: 235px;
    background-size: contain;
}

.spike_rpn_5_big,
.spike_rpn_6_big,
.spike_rpr_7_big,
.spike_rpr_8_big {
    background-image: url('./assets/img/spiky.png');
    width: 288px;
    height: 751px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: cover;
}

.bouncy_rpn_9,
.bouncy_rpn_10 {
    background-image: url('./assets/img/bouncy.png');
    width: 41px;
    height: 90px;
    position: absolute;
    top: 235px;
    background-size: contain;
}

.bouncy_rpn_9_big,
.bouncy_rpn_10_big {
    background-image: url('./assets/img/bouncy.png');
    width: 355px;
    height: 768px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: contain;
}

.spike_rpn_5 {
    left: 341px;
}

.spike_rpn_6 {
    left: 387px;
}

.bouncy_rpn_9,
.bouncy_urpn_11 {
    left: 633px;
}

.bouncy_rpn_10,
.bouncy_urpn_12 {
    left: 685px;
}

.bouncy_urpn_11,
.bouncy_urpn_12,
.wavy_urpn_13,
.wavy_urpn_14,
.wavy_urpr_15,
.wavy_urpr_16 {
    top: 510px;
}

.wavy_urpn_13 {
    left: 926px;
}

.wavy_urpn_14 {
    left: 980px;
}

.wavy_urpr_15 {
    left: 1055px;
}

.wavy_urpr_16 {
    left: 1104px;
}

.spike_rpr_7 {
    left: 482px;
}

.spike_rpr_8 {
    left: 528px;
}

.shiny_vpn_1,
.shiny_uvpn_3 {
    left: 32px;

}

.shiny_vpn_2,
.shiny_uvpn_4 {
    left: 80px
}

.spiky_vpn {
    background-image: url('./assets/img/spiky.png');
    width: 30px;
    height: 84px;
}

.wavy {
    background-image: url('./assets/img/wavy.svg');
    width: 31px;
    height: 77px;
}

.bouncy {
    background-image: url('./assets/img/bouncy.svg');
    width: 35px;
    height: 77px;
}

.newheader {
    border-bottom: 0px solid !important;
}

.shiny {
    background-image: url('./assets/img/shiny.svg');
    width: 35px;
    height: 77px;
}

.shinyback {
    background-image: url('./assets/img/shiny_backside.png');
    width: 362px;
    height: 770px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {
        color: #dddd6b;
    }
}

.silkyback {
    background-image: url('./assets/img/silky_back.png');
    width: 276px;
    height: 770px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {
        color: #fff;
        top: 482px;
        left: 183px;

    }
}

.exit {
    position: absolute;
    width: 322px;
    height: 167px;
    border: 1px solid;
    cursor: pointer;
    left: 983px;
    top: 500px;
}

.spikyback {
    background-image: url('./assets/img/spiky_back.png');
    width: 362px;
    height: 764px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {
        top: 472px;
        color: #633cce;
    }
}

.wavyback {
    background-image: url('./assets/img/wavy_back.png');
    width: 362px;
    height: 770px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {

        color: #633cce;
    }
}

.bouncyback {
    background-image: url('./assets/img/bouncy_back.png');
    width: 355px;
    height: 770px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {
        color: #fff;
        top: 466px;
        left: 218px;
    }
}

.universalback {
    background-image: url('./assets/img/universal_back.png');
    width: 299px;
    height: 770px;
    background-size: contain;
    margin-left: 541px;

    .labelholder {

        color: #000;
        top: 475px;
        left: 192px;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.recycle {
    background-image: url('./assets/img/recycledplasticbottle.png');
    width: 8px;
    height: 8px;
    position: absolute;
    left: 8px;
    top: 16px;
    background-size: contain;
}

.refill {
    background-image: url('./assets/img/refilledbottle.png');
    width: 8px;
    height: 8px;
    position: absolute;
    left: 18px;
    top: 16px;
    background-size: contain;
}

.label {
    position: absolute;
    width: 23px;
    height: 16px;
    left: 6px;
    top: 35px;
    background-size: cover;
}

.labelbig {
    position: absolute;
    width: 203px;
    height: 135px;
    left: 49px;
    top: 302px;
    background-size: cover;
}

.shiny_label {
    background-image: url('./assets/img/shiny_label.png');
}

.silky_label {
    background-image: url('./assets/img/silky_label.png');
}

.spiky_label {
    background-image: url('./assets/img/spiky_label.png');
}

.bouncy_label {
    background-image: url('./assets/img/bouncy_label.png');
}

.wavy_label {
    background-image: url('./assets/img/wavy_label.png');
}