/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'poppin';
    src: url('./assets/font/Poppins.otf');
}

html,
body {
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'poppin';
}


app-maincity,
app-login,
app-signup,
app-home {
    height: 100%;
    width: 100%;



}

::ng-deep .modal-dialog {
    max-width: 80%;
    width: 80%;
}

.pic_0 {
    background-image: url('./assets/img/male1.svg');

}

.pic_1 {
    background-image: url('./assets/img/male2.svg');
}

.pic_2 {
    background-image: url('./assets/img/male3.svg');
}

.pic_3 {
    background-image: url('./assets/img/male4.svg');
}

.pic_4 {
    background-image: url('./assets/img/male5.svg');
}

.pic_5 {
    background-image: url('./assets/img/male6.svg');
}

.pic_6 {
    background-image: url('./assets/img/male7.svg');
}

.pic_7 {
    background-image: url('./assets/img/male8.svg');
}

.pic_8 {
    background-image: url('./assets/img/male9.svg');
}

.pic_9 {
    background-image: url('./assets/img/male10.svg');
}

.pic_10 {
    background-image: url('./assets/img/male11.svg');
}

.pic_11 {
    background-image: url('./assets/img/male12.svg');
}

.pic_12 {
    background-image: url('./assets/img/male13.svg');
}

.pic_13 {
    background-image: url('./assets/img/male14.svg');
}

.pic_14 {
    background-image: url('./assets/img/male15.svg');
}

.pic_15 {
    background-image: url('./assets/img/male16.svg');
}

.pic_16 {
    background-image: url('./assets/img/male17.svg');
}

.pic_17 {
    background-image: url('./assets/img/male18.svg');
}

.pic_18 {
    background-image: url('./assets/img/male19.svg');
}

.pic_19 {
    background-image: url('./assets/img/male20.svg');
}

.pic_20 {
    background-image: url('./assets/img/female1.svg');
}

.pic_21 {
    background-image: url('./assets/img/female2.svg');
}

.pic_22 {
    background-image: url('./assets/img/female3.svg');
}

.pic_23 {
    background-image: url('./assets/img/female4.svg');
}

.pic_24 {
    background-image: url('./assets/img/female5.svg');
}

.pic_25 {
    background-image: url('./assets/img/female6.svg');
}

.pic_26 {
    background-image: url('./assets/img/female7.svg');
}

.pic_27 {
    background-image: url('./assets/img/female8.svg');
}

.pic_28 {
    background-image: url('./assets/img/female9.svg');
}

.pic_29 {
    background-image: url('./assets/img/female10.svg');
}

.pic_30 {
    background-image: url('./assets/img/female11.svg');
}

.pic_31 {
    background-image: url('./assets/img/female12.svg');
}

.pic_32 {
    background-image: url('./assets/img/female13.svg');
}

.pic_33 {
    background-image: url('./assets/img/female14.svg');
}

.pic_34 {
    background-image: url('./assets/img/female15.svg');
}

.pic_35 {
    background-image: url('./assets/img/female16.svg');
}

.pic_36 {
    background-image: url('./assets/img/female17.svg');
}

.pic_37 {
    background-image: url('./assets/img/female18.svg');
}

.pic_38 {
    background-image: url('./assets/img/female19.svg');
}

.pic_39 {
    background-image: url('./assets/img/female20.svg');
}

.pics {
    width: 150px;
    height: 150px;
    margin: 12px;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #fff;

    &:hover {
        border: 4px solid gainsboro;
        cursor: pointer;
    }

    &:user-select {
        border: 4px solid gray;
    }
}

input::placeholder {
    opacity: 0.5 !important;
}

.form-control {
    font-size: 12px !important
}

.dropdown-toggle::after {
    border-top: 0.4em solid #fff !important;
    border-right: 0.4em solid transparent !important;
    border-bottom: 0;
    border-left: 0.4em solid transparent !important;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
    position: absolute;
    right: -14px;
    top: 18px;
}

.dropdown-menu.show {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    transform: translate(20px, 52px) !important;
}

app-login,
app-signup {
    .form-control {
        width: 83% !important;
        margin: 0 auto !important;
    }
}

.maincity_container {
    .topbar {
        position: absolute;
        height: 50px;
        top: 0px;
        left: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;

        #logout {
            font-size: 12px;
        }

        .picholder {
            position: absolute;
            right: 28px;
            width: 40px;
            height: 40px;
        }

        .displaypic {
            position: absolute;
            width: 40px;
            height: 40px;
            background-size: cover;
            border-radius: 50%;
        }

        .cityname {
            position: absolute;
            margin: 0 auto;
            font-size: 26px;
            color: #000;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .displayrole {
            width: 100px;
            position: absolute;
            right: 69px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            height: 50px;
            display: flex;
            @extend .commmoncenter;
        }

        .logo {
            position: absolute;
            left: 0px;
            width: 250px;
            height: 49px;
            background-image: url('./assets/img/logo.png');
            background-size: cover;

        }

    }

    .maincity {
        .House1 {
            top: 3429px;
            left: 705px;
        }

        .common {
            position: absolute;
            width: 271px;
            height: 78px;
            color: #fff;
            font-size: 27px;
            text-align: center;
            line-height:34px;
            @extend .commmoncenter;
        }

        .mayorofzboard {
            @extend .common;
            top: 2853px;
            left: 3518px;
        }

        .rightcolony {
            @extend .common;
            top: 3285px;
            left: 5457px;
        }

        .leftcolony {
            @extend .common;
            top: 3285px;
            left: 2301px;
        }

        .House2 {
            top: 3428px;
            left: 1042px;
        }

        .House3 {
            top: 3428px;
            left: 1379px;
        }

        .House4 {
            top: 3428px;
            left: 1715px;
        }

        .House5 {
            top: 3428px;
            left: 2054px;
        }

        .House6 {
            top: 3853px;
            left: 706px;
        }

        .House7 {
            top: 3853px;
            left: 1041px;
        }

        .House8 {
            top: 3854px;
            left: 1378px;
        }

        .House9 {
            top: 3853px;
            left: 1715px;
        }

        .House10 {
            top: 3854px;
            left: 2053px;
        }

        .Recycling {
            top: 3854px;
            left: 5938px;
        }

        .Supermarket {
            top: 3854px;
            left: 6275px;
        }

        .Grocery {
            top: 3853px;
            left: 6613px;
        }

        .Ubottle {
            top: 3853px;
            left: 6949px;
        }

        .Making {
            top: 3853px;
            left: 7287px;
        }

        .Reverse {
            top: 3428px;
            left: 7286px;
        }

        .Plastic {
            top: 3429px;
            left: 6950px;
        }

        .Refilling {
            top: 3428px;
            left: 6613px;
        }

        .Bottle {
            top: 3428px;
            left: 6275px;
        }

        .Mayor {
            top: 3428px;
            left: 5938px;
        }
    }

    .boardholder {
        .commoncls {
            position: absolute;
            background-size: cover;
            color: #fff;
            font-size: 20px;
            width: 100px;
            height: 38px;
            @extend .commmoncenter;

        }

        .Supermarket {
            @extend .commoncls;
            left: 1909px;
            top: 2457px;
        }

        .Plastic {
            @extend .commoncls;
            left: 1982px;
            top: 871px;
        }

        .Making {
            @extend .commoncls;
            left: 4185px;
            top: 615px;
        }

        .Ubottle {
            @extend .commoncls;
            left: 4500px;
            top: 1511px
        }

        .Refilling {
            @extend .commoncls;
            left: 5622px;
            top: 2807px;
        }
    }

    .commmoncenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartimg {
        background-image: url('./assets/img/shoppingcart.svg');
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
    }

    .maincity {
        .cart {
            @extend .cartimg;
            height: 99px;
            width: 67px;



            .cartavatar {
                width: 30px;
                height: 30px;
                position: absolute;
                left: -30px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #fff;
                left: 12px;
                font-size: 7px;
                top: -3px;
            }
        }
    }

    .supermarketstage {
        .cart {
            @extend .cartimg;
            height: 399px;
            width: 367px;

            .cartavatar {
                width: 90px;
                height: 90px;
                position: absolute;
                left: -90px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #fff;
                left: 43px;
                font-size: 30px;
                top: 12px;
            }
        }
    }

    .bottleholder {
        width: 205px;
        position: absolute;
        left: 60px;
        top: 200px;
        border: 1px solid;
        height: 93px;
        display: flex;

        .bottle {
            position: relative;
            background-size: cover;
            display: flex;
            cursor: move;
            z-index: 1;
            transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        }

    }    
     .bottle {
            position: relative;
            background-size: cover;
            display: flex;
            cursor: move;
            z-index: 1;
            transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        }

    .bottledropper {
        width: 205px;
        position: absolute;
        left: 1660px;
        top: 2579px;
        border: 1px solid red;
        height: 93px;
        display: flex;
   }
    .bottledropper2 {
        width: 205px;
        position: absolute;
        left: 1660px;
        top: 2579px;
        border: 1px solid red;
        height: 93px;
        display: flex;
   }
}

.silky {
    background-image: url('./assets/img/silky.svg');
    width: 30px;
    height: 84px;
}

.wavy {
    background-image: url('./assets/img/wavy.svg');
    width: 31px;
    height: 77px;
}

.bouncy {
    background-image: url('./assets/img/bouncy.svg');
    width: 35px;
    height: 77px;
}

.shiny {
    background-image: url('./assets/img/shiny.svg');
    width: 35px;
    height: 77px;
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
