/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'poppin';
    src: url('./assets/font/Poppins.otf');
}

html,
body {
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'poppin' !important;
}


app-maincity,
app-login,
app-signup,
app-home {
    height: 100%;
    width: 100%;



}

::ng-deep .modal-dialog {
    max-width: 80%;
    width: 80%;
}


.pic_0 {
    background-image: url('./assets/img/male1.svg');

}

.pic_1 {
    background-image: url('./assets/img/male2.svg');
}

.pic_2 {
    background-image: url('./assets/img/male3.svg');
}

.pic_3 {
    background-image: url('./assets/img/male4.svg');
}

.pic_4 {
    background-image: url('./assets/img/male5.svg');
}

.pic_5 {
    background-image: url('./assets/img/male6.svg');
}

.pic_6 {
    background-image: url('./assets/img/male7.svg');
}

.pic_7 {
    background-image: url('./assets/img/male8.svg');
}

.pic_8 {
    background-image: url('./assets/img/male9.svg');
}

.pic_9 {
    background-image: url('./assets/img/male10.svg');
}

.pic_10 {
    background-image: url('./assets/img/male11.svg');
}

.pic_11 {
    background-image: url('./assets/img/male12.svg');
}

.pic_12 {
    background-image: url('./assets/img/male13.svg');
}

.pic_13 {
    background-image: url('./assets/img/male14.svg');
}

.pic_14 {
    background-image: url('./assets/img/male15.svg');
}

.pic_15 {
    background-image: url('./assets/img/male16.svg');
}

.pic_16 {
    background-image: url('./assets/img/male17.svg');
}

.pic_17 {
    background-image: url('./assets/img/male18.svg');
}

.pic_18 {
    background-image: url('./assets/img/male19.svg');
}

.pic_19 {
    background-image: url('./assets/img/male20.svg');
}

.pic_20 {
    background-image: url('./assets/img/female1.svg');
}

.pic_21 {
    background-image: url('./assets/img/female2.svg');
}

.pic_22 {
    background-image: url('./assets/img/female3.svg');
}

.pic_23 {
    background-image: url('./assets/img/female4.svg');
}

.pic_24 {
    background-image: url('./assets/img/female5.svg');
}

.pic_25 {
    background-image: url('./assets/img/female6.svg');
}

.pic_26 {
    background-image: url('./assets/img/female7.svg');
}

.pic_27 {
    background-image: url('./assets/img/female8.svg');
}

.pic_28 {
    background-image: url('./assets/img/female9.svg');
}

.pic_29 {
    background-image: url('./assets/img/female10.svg');
}

.pic_30 {
    background-image: url('./assets/img/female11.svg');
}

.pic_31 {
    background-image: url('./assets/img/female12.svg');
}

.pic_32 {
    background-image: url('./assets/img/female13.svg');
}

.pic_33 {
    background-image: url('./assets/img/female14.svg');
}

.pic_34 {
    background-image: url('./assets/img/female15.svg');
}

.pic_35 {
    background-image: url('./assets/img/female16.svg');
}

.pic_36 {
    background-image: url('./assets/img/female17.svg');
}

.pic_37 {
    background-image: url('./assets/img/female18.svg');
}

.pic_38 {
    background-image: url('./assets/img/female19.svg');
}

.pic_39 {
    background-image: url('./assets/img/female20.svg');
}

.pics {
    width: 150px;
    height: 150px;
    margin: 12px;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #fff;

    &:hover {
        border: 4px solid gainsboro;
        cursor: pointer;
    }

    &:user-select {
        border: 4px solid gray;
    }
}

input::placeholder {
    opacity: 0.5 !important;
}

.form-control {
    font-size: 12px !important
}

.dropdown-toggle::after {
    border-top: 0.4em solid #fff !important;
    border-right: 0.4em solid transparent !important;
    border-bottom: 0;
    border-left: 0.4em solid transparent !important;
}

#dropdownBasic1 {
    font-size: 14px;
}

#dropdownBasic1::after {
    border-top: 0.4em solid #555 !important;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
    position: absolute;
    right: -14px;
    top: 18px;
}

.dropdown-menu.show {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    transform: translate(20px, 52px) !important;
    width: 310px !important;
    font-size: 12px;
}

.mat-tree-node {
    min-height: 30px !important;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.mat-tree {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

app-login,
app-signup {
    .form-control {
        width: 92% !important;
        margin: 0 auto !important;
    }
}

.maincity_container {
    .topbar {
        position: absolute;
        height: 50px;
        top: 0px;
        left: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;

        #logout {
            font-size: 12px;
        }

        .picholder {
            position: absolute;
            right: 28px;
            width: 40px;
            height: 40px;
        }

        .displaypic {
            position: absolute;
            width: 40px;
            height: 40px;
            background-size: cover;
            border-radius: 50%;
        }

        .cityname {
            position: absolute;
            margin: 0 auto;
            font-size: 26px;
            color: #000;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .displayrole {
            width: 100px;
            position: absolute;
            right: 69px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            height: 50px;
            display: flex;
            @extend .commmoncenter;
        }

        .iihslogo {
            width: 45px !important;
            height: 40px !important;
            top: unset !important;
        }

        .shorterloopslogo {
            position: absolute;
            left: 0px;
            right: 0;
            top: unset !important;
            margin: auto;
            width: 104px !important;
            height: 33px !important;
            background-image: url('./assets/img/shorteloopslogo.png') !important;
            background-size: cover;
            cursor: pointer;

        }

    }

    .maincity {
        .House1 {
            top: 3429px;
            left: 705px;
        }

        .common {
            position: absolute;
            width: 271px;
            height: 78px;
            color: #fff;
            font-size: 27px;
            text-align: center;
            line-height: 34px;
            @extend .commmoncenter;
        }

        .mayorofzboard {
            @extend .common;
            top: 2853px;
            left: 3518px;
        }

        .rightcolony {
            @extend .common;
            top: 3285px;
            left: 5457px;
        }

        .leftcolony {
            @extend .common;
            top: 3285px;
            left: 2301px;
        }

        .House2 {
            top: 3428px;
            left: 1042px;
        }

        .House3 {
            top: 3428px;
            left: 1379px;
        }

        .House4 {
            top: 3428px;
            left: 1715px;
        }

        .House5 {
            top: 3428px;
            left: 2054px;
        }

        .House6 {
            top: 3853px;
            left: 706px;
        }

        .House7 {
            top: 3853px;
            left: 1041px;
        }

        .House8 {
            top: 3854px;
            left: 1378px;
        }

        .House9 {
            top: 3853px;
            left: 1715px;
        }

        .House10 {
            top: 3854px;
            left: 2053px;
        }

        .Recycling {
            top: 3854px;
            left: 5938px;
        }

        .Supermarket {
            top: 3854px;
            left: 6275px;
        }

        .Grocery {
            top: 3853px;
            left: 6613px;
        }

        .Ubottle {
            top: 3853px;
            left: 6949px;
        }

        .Making {
            top: 3853px;
            left: 7287px;
        }

        .Reverse {
            top: 3428px;
            left: 7286px;
        }

        .Plastic {
            top: 3429px;
            left: 6950px;
        }

        .Refilling {
            top: 3428px;
            left: 6613px;
        }

        .Bottle {
            top: 3428px;
            left: 6275px;
        }

        .Mayor {
            top: 3428px;
            left: 5938px;
        }

        .bottombasketholder {
            width: 53px;
            position: absolute;
            left: 13px;
            top: 49px;
            height: 25px;
            display: flex;
            overflow: hidden;

            .bottle {
                width: 9px !important;
                height: 23px !important;
            }
        }

        .topbasketholder {
            width: 41px;
            position: absolute;
            left: 10px;
            top: 12px;
            height: 25px;
            display: flex;
            overflow: hidden;

            .newbottle_list {
                div {
                    width: 9px !important;
                    height: 23px !important;
                }
            }
        }
    }

    .boardholder {
        .commoncls {
            position: absolute;
            background-size: cover;
            color: #fff;
            font-size: 20px;
            width: 100px;
            height: 38px;
            @extend .commmoncenter;

        }

        .Supermarket {
            @extend .commoncls;
            left: 1909px;
            top: 2457px;
            height: 49px;
            border-radius: 11%;
            background: #555;
        }

        .Plastic {
            @extend .commoncls;
            left: 1982px;
            top: 871px;
        }

        .Making {
            @extend .commoncls;
            left: 4185px;
            top: 615px;
        }

        .Ubottle {
            @extend .commoncls;
            left: 4500px;
            top: 1511px
        }

        .Refilling {
            @extend .commoncls;
            left: 5622px;
            top: 2807px;
        }
    }

    .commmoncenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartimg {
        background-image: url('./assets/img/neoncart.svg');
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
    }

    .maincity {
        .cart {
            @extend .cartimg;
            height: 99px;
            width: 67px;



            .cartavatar {
                width: 30px;
                height: 30px;
                position: absolute;
                left: -30px;
                border-radius: 50%;


            }

            .cartid {
                position: absolute;
                color: #000;
                left: 11px;
                font-size: 7px;
                top: -4px;
                cursor: pointer;
            }
        }
    }

    .supermarketstage {
        .newrak {
            background-image: url('./assets/img/rak.png');
            width: 1516px;
            height: 671px;
            position: absolute;
            left: 6925px;
            top: 2335px;

            .dropper {
                width: 135px;
                position: absolute;
                height: 93px;
                display: flex;
                overflow: hidden;
            }

            .shinyshelf {
                left: 25px;
                top: 528px;
            }

            .wavyshelf {
                left: 902px;
                top: 528px;
            }

            .silkyshelf {
                left: 1207px;
                top: 528px;
            }

            .bouncyshelf {
                left: 609px;
                top: 528px;
            }

        }

        .cart {
            @extend .cartimg;
            height: 399px;
            width: 367px;

            .cartavatar {
                width: 90px;
                height: 90px;
                position: absolute;
                left: -90px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #000;
                left: 34px;
                font-size: 30px;
                top: 1px;
                cursor: pointer;
                border: 6px solid transparent;
                width: 106px;
                height: 49px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .scanneranimation {
            position: absolute;
            width: 324px;
            height: 27px;
            left: 6731px;
            top: 669px;

            .scanner {
                position: absolute;
                width: 36px;
                height: 29px;
                transform: rotate(-90deg);
                background-size: cover;
                background-image: url('./assets/img/scanner.png');
            }

            .beam {
                position: absolute;
                width: 206px;
                height: 121px;
                transform: rotate(90deg);
                top: 68px;
                left: -84px;
                display: none;
                background-image: url('./assets/img/rays.png');
            }
        }

        .displaynetamount {
            @extend .commonds;
            width: 243px;
            height: 48px;
            left: 6131px;
            top: 363px;
        }

        .displaymoniter {
            @extend .commonds;
            width: 238px;
            height: 136px;
            left: 6295px;
            top: 432px;
            line-height: 28px;
        }

        .displaycallout {
            position: absolute;
            width: 218px;
            height: 135px;
            left: -135px;
            top: -134px;
            background-size: cover;
            display: none;
            background-image: url('./assets/img/callout.png');
        }

        .commonds {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            position: absolute;
            text-align: center;

        }
    }


    .supermarketcart {
        .newbottleholder {
            width: 165px;
            position: absolute;
            left: 48px;
            top: 51px;
            height: 93px;
            display: flex;
            overflow: hidden;
        }

        .bottleholder {
            width: 144px;
            position: absolute;
            left: 90px;
            top: 200px;
            height: 93px;
            display: flex;
            overflow: hidden;

            .bottle {
                position: relative;
                background-size: cover;
                display: flex;
                cursor: move;
                z-index: 1;
                transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
            }

        }
    }

    .bottle {
        position: relative;
        background-size: cover;
        display: flex;
        cursor: move;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    }

    .conveyorbottledropper {
        width: 171px;
        position: absolute;
        left: 1694px;
        top: 2579px;
        border: 4px dashed #2eddb8;
        height: 93px;
        display: flex;
    }

    .displayconveyor {
        width: 258px;
        position: absolute;
        left: 1515px;
        top: 2476px;
        height: 102px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .loadimgrefill {
        .gearbox {
            position: absolute;
            width: 410px;
            height: 21px;
            left: -2px;
            top: 99px;

            .gearicon {
                background-image: url('./assets/img/gearicon.png');
                width: 15px;
                height: 15px;
                position: absolute;
                background-size: contain;
            }

            .gear_0 {
                @extend .gearicon;
                left: 4px;
                top: 2px;
            }

            .gear_1 {
                left: 134px;
                top: 2px;
                @extend .gearicon;
            }

            .gear_2 {
                left: 269px;
                top: 2px;
                @extend .gearicon;
            }

            .gear_3 {
                left: 386px;
                top: 1px;
                @extend .gearicon;
            }

            .icon {
                animation: like 0.5s infinite linear;
            }

            @keyframes like {
                0% {
                    transform: rotate(90deg);
                }

                25% {
                    transform: rotate(180deg);
                }

                50% {
                    transform: rotate(270deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .displaylight {
            &.off {
                position: absolute;
                width: 10px;
                height: 10px;
                left: 184px;
                top: -11px;
                background-size: cover;
                background-image: url('./assets/img/displaylight.png');
            }

            &.on {
                position: absolute;
                width: 40px;
                height: 40px;
                left: 168px;
                top: -26px;
                background-size: cover;
                background-image: url('./assets/img/displaylite.png');
            }
        }



        #refillcart {
            @extend .cartimg;
            height: 100px;
            width: 70px;



            .cartavatar {
                width: 20px;
                height: 20px;
                position: absolute;
                left: -20px;
                border-radius: 50%;
            }

            .cartid {
                position: absolute;
                color: #00f;
                left: 12px;
                font-size: 7px;
                top: -4px;
            }

            .refillbottleholder {
                width: 42px;
                position: absolute;
                left: 22px;
                top: 49px;
                height: 28px;
                display: flex;
                overflow: hidden;
            }

            .refilledholder {
                width: 39px;
                position: absolute;
                left: 13px;
                top: 11px;
                height: 27px;
                display: flex;
                overflow: hidden;
            }
        }

        .panel {
            position: absolute;
            left: 225px;
            border: 1px solid;
            width: 229px;
            height: 157px;
            top: 132px;

            .displayboard {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 215px;
                height: 70px;
                font-size: 8px;
                line-height: 10px;
                color: #fff;
                display: flex;
                justify-content: center;
                padding: 5px;
                align-items: center;
            }

            .controlbtn {
                position: absolute;
                width: 45px;
                height: 24px;
                cursor: pointer;
            }

            .start {
                @extend .controlbtn;
                top: 79px;
                left: 176px;
            }

            .cancel {
                @extend .controlbtn;
                top: 108px;
                left: 176px;
            }

            .continue {
                position: absolute;
                width: 78px;
                height: 18px;
                display: block;
                left: 142px;
                top: 135px;
                cursor: pointer;
            }

            .adjustment {
                position: absolute;
                width: 31px;
                top: 78px;
                left: 142px;
                height: 55px;

                .operation {
                    position: absolute;
                    width: 31px;
                    height: 24px;
                    cursor: pointer;
                }

                .up {
                    @extend .operation;
                    top: -1px;
                    left: -1px;
                }

                .down {
                    @extend .operation;
                    top: 30px;
                    left: -1px;
                }
            }

            .brandsection {
                position: absolute;
                left: 3px;
                top: 77px;
                width: 57px;
                height: 38px;
                cursor: pointer;

                .btncls {
                    position: absolute;
                    width: 31px;
                    height: 31px;
                }

                .shiny {
                    @extend .btncls;
                    left: 2px;
                    top: 2px;
                }

                .bouncy {
                    @extend .btncls;
                    left: 82px;
                    top: 2px;
                }

                .spiky {
                    @extend .btncls;
                    left: 44px;
                    top: 2px;
                }

                .silky {
                    @extend .btncls;
                    left: 44px;
                    top: 42px;
                }

                .wavy {
                    @extend .btncls;
                    left: 2px;
                    top: 42px;

                }
            }
        }

        .bdropper {
            position: absolute;
            left: 479px;
            top: 234px;

            .bdrop {
                width: 13px;
                position: absolute;
                border: 1px dotted #00ffbd;
                height: 27px;
                display: flex;
            }

            .refilldropper {
                @extend .bdrop;
                left: 8px;
                top: 10px;

            }

        }
    }

}





.shinyvpn_list,
.shinyuvpn_list,
.spikyrpn_list,
.spikyrpr_list,
.bouncyurpn_list,
.bouncyrpn_list,
.wavyurpr_list,
.wavyurpn_list,
.silkyvpn_list {
    display: flex;
    width: 275px;
}



.shinyshelfvpn {
    left: 17px;
    top: 92px;
}

.silkyshelfvpn {
    left: 1218px;
    top: 92px;
}

.spikeshelfrpr {
    top: 236px;
    left: 457px;
}

.spikeshelfrpn {
    top: 236px;
    left: 317px;
}

.shinyshelfuvpn {
    left: 17px;
    top: 375px;
}

.bouncyshelfrpn {
    left: 615px;
    top: 236px;
}

.bouncyshelfurpn {
    left: 617px;
    top: 512px;
}

.wavyshelfurpn {
    left: 917px;
    top: 512px;
}

.wavyshelfurpr {
    left: 1059px;
    top: 512px;
}

.shiny_vpn,
.B1 {
    background-image: url('./assets/img/shiny.png');
    width: 40px;
    height: 91px;
    background-size: cover;
    background-repeat: no-repeat;

    &.refillbtl {
        width: 11px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/shiny_without.png') !important;
        width: 11px !important;
    }
}

.bouncyrpn,
.B3 {
    background-image: url('./assets/img/bouncy.png');
    width: 42px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;

    &.refillbtl {
        width: 9px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/bouncy_without.png') !important;
        width: 11px !important;
    }
}

.spikyrpn,
.spikyrpr,
.B2 {
    background-image: url('./assets/img/spiky.png');
    width: 42px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;

    &.refillbtl {
        width: 11px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/spiky_without.png') !important;
        width: 12px !important;
    }

}

.silkyvpn,
.B5 {
    background-image: url('./assets/img/silky.png');
    width: 34px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;

    &.refillbtl {
        width: 9px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/silky_without.png') !important;
        width: 11px !important;
    }
}

.wavyurpn,
.U0B4,
.U1B4,
.UB4,
.wavyurpr {
    background-image: url('./assets/img/wavy_uvpn.png');
    width: 34px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;

    &.refillbtl {
        width: 10px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/wavyub_without.png') !important;
        width: 11px !important;
    }
}

.shiny_uvpn,
.UB1 {
    background-image: url('./assets/img/shiny_uvpn.png');
    width: 38px;
    height: 94px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &.refillbtl {
        width: 10px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/shinyub_without.png') !important;
        width: 11px !important;
    }
}

.bouncyurpn,
.UB3 {
    background-image: url('./assets/img/bouncy_uvpn.png');
    width: 38px;
    height: 94px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &.refillbtl {
        width: 10px !important;
        height: 24px !important;
    }

    &.removedcap {
        background-image: url('./assets/img/bouncyub_without.png') !important;
    }
}


.labelholder {
    position: relative;
    top: 476px;

    font-size: 11px;
    left: 224px;

    .Quantity {
        position: relative;
        left: -37px;
        top: -2px;
    }

    .Current_Refill_Count {
        position: relative;
        top: -5px;
        left: -16px;
    }

    .Latest_Refill_Date {
        position: relative;
        top: -8px;
    }

    .Shampoo_Price {
        position: relative;
        top: 6px;
        left: 17px;
    }

    .Content_Price {
        position: relative;
        top: 3px;
    }

    .Bottle_Price {

        position: relative;
        left: 22px;

    }

    .Discount_RefillB {
        position: relative;
        left: 47px;
        top: -3px;
    }

    .Total_price {
        position: relative;
        top: -15px;
        left: -20px;
    }

    .Redeem_Good {
        position: relative;
        left: 47px;
        top: -5px;
    }

    .AssetId {
        position: relative;
        left: -128px;
        top: -73px;
        transform: rotate(-90deg);
        color: #000;
        width: 60px;
        height: 30px;
        font-size: 9px;
    }

    .Discard_fine {
        position: relative;
        left: 54px;
        top: -9px;
    }

    .Env_Tax {
        position: relative;
        top: -12px;
        left: 5px;
    }
}

.shiny_uvpn_big,
.bouncyurpn_big,
.bouncyurpn_big,
.wavyurpn_big,
.wavyurpn_big,
.wavyurpr_big,
.wavyurpr_big {
    background-image: url('./assets/img/universal.png');
    width: 300px;
    @extend .bigcss;

}

.bouncyrpn_big {
    background-image: url('./assets/img/bouncy.png');
    width: 355px;
    @extend .bigcss;

}

.spikyrpn_big,
.spikyrpr_big {
    background-image: url('./assets/img/spiky.png');
    width: 296px;
    @extend .bigcss;

}

.shiny_vpn_big {
    background-image: url('./assets/img/shiny.png');
    width: 361px;
    @extend .bigcss;

}

.silkyvpn_big {
    background-image: url('./assets/img/silky.svg');
    width: 275px;
    @extend .bigcss;

}

.bigcss {
    height: 768px;
    position: absolute;
    top: 26px;
    left: 178px;
    background-size: contain;
}

.newheader {
    border-bottom: 0px solid !important;
}

.bigback {

    background-size: contain;
    margin-left: 541px;
}

.shinyback {
    background-image: url('./assets/img/shiny_backside.png');
    width: 362px;
    height: 770px;
    @extend .bigback;

    .labelholder {
        color: #dddd6b;
    }
}

.silkyback {
    background-image: url('./assets/img/silky_back.png');
    width: 276px;
    height: 770px;
    @extend .bigback;

    .labelholder {
        color: #fff;
        top: 482px;
        left: 183px;

    }
}



.spikyback {
    background-image: url('./assets/img/spiky_back.png');
    width: 362px;
    height: 764px;
    @extend .bigback;

    .labelholder {
        top: 472px;
        color: #633cce;
    }
}

.wavyback {
    background-image: url('./assets/img/wavy_back.png');
    width: 362px;
    height: 770px;
    @extend .bigback;

    .labelholder {
        color: #633cce;
    }
}

.bouncyback {
    background-image: url('./assets/img/bouncy_back.png');
    width: 355px;
    height: 770px;
    @extend .bigback;

    .labelholder {
        color: #fff;
        top: 466px;
        left: 218px;
    }
}

.universalback {
    background-image: url('./assets/img/universal_back.png');
    width: 299px;
    height: 770px;
    @extend .bigback;

    .labelholder {
        color: #000;
        top: 475px;
        left: 192px;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.recycle {
    background-image: url('./assets/img/recycledplasticbottle.png');
    width: 8px;
    height: 8px;
    position: absolute;
    left: 8px;
    top: 16px;
    background-size: contain;
}

.refill {
    background-image: url('./assets/img/refilledbottle.png');
    width: 8px;
    height: 8px;
    position: absolute;
    left: 18px;
    top: 16px;
    background-size: contain;
}

.label {
    position: absolute;
    width: 23px;
    height: 16px;
    left: 6px;
    top: 35px;
    background-size: cover;
}

.labelbig {
    position: absolute;
    width: 203px;
    height: 135px;
    left: 49px;
    top: 302px;
    background-size: cover;
}



#checklight1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2838px;
    left: 5309px;
    transform: rotate(-90deg);
    background-image: url('./assets/img/red.png');
    background-size: cover;

}

#checklight2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2908px;
    left: 5309px;
    transform: rotate(-90deg);
    background-image: url('./assets/img/green.png');
    background-size: cover;

}


.green {
    width: 213px !important;
    height: 213px !important;
    position: absolute;
    top: 2825px !important;
    left: 5221px !important;
    transform: rotate(-90deg);
    background-image: url('./assets/img/grenglow.png') !important;
    background-size: cover;
}

.red {
    width: 213px !important;
    height: 213px !important;
    position: absolute;
    top: 2755px !important;
    left: 5221px !important;
    transform: rotate(-90deg) !important;
    background-image: url('./assets/img/redglow.png') !important;
    background-size: cover;
}

.highlight {
    animation: glowingred 1s ease-in-out infinite alternate;
}


@keyframes glowingorange {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(236, 175, 43, 0.322), 0 0 40px rgb(240, 129, 38), 0 0 50px #ffad15, 0 0 60px #ffad15, 0 0 70px #ffad15;
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #f7aa37, 0 0 40px #ffa723, 0 0 50px #fc930b, 0 0 60px rgb(255, 187, 0), 0 0 70px rgb(255, 174, 0), 0 0 80px rgb(255, 174, 0);
    }
}

.refillinstation {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #666666;

    .loadimgrefill {
        background-image: url('./assets/img/fillingstation.png');
        width: 1366px;
        height: 768px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 81px;
        left: 1px;

    }

    .shinyfiller,
    .wavyfiller,
    .spikyfiller,
    silkyfiller,
    .bouncyfiller {
        position: absolute;
        width: 2px;
        height: 24px;
        display: none;
        top: 52px;
    }

    .shinyfiller {
        left: 62px;
        background: #dddd57;
    }

    .spikyfiller {
        left: 113px;
        background: #987edf;
    }

    .bouncyfiller {
        left: 164px;
        background: #a3008c;
    }

    .wavyfiller {
        left: 214px;
        background: #99c29f;
    }

    .silkyfiller {
        left: 265px;
        background: #d84d5d;
    }
}

.supermarketstage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;

    #innerdoor1 {
        position: absolute;
        width: 29px;
        height: 1076px;
        top: 2998px;
        left: 5415px;
        background: #99d8cf;
    }

    #innerdoor2 {
        position: absolute;
        width: 29px;
        height: 1030px;
        top: 930px;
        left: 5415px;
        background: #99d8cf;
    }

    #innerdoor3 {
        position: absolute;
        width: 29px;
        height: 1030px;
        top: 930px;
        left: 715px;
        background: #99d8cf;
    }

    #exit {
        position: absolute;
        width: 329px;
        height: 165px;
        top: 499px;
        left: 980px;
        cursor: pointer;
    }

    .loadimg {
        position: absolute;
        background-image: url('./assets/img/supermarket.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 12000px;
        height: 4501px;
    }

}

.shiny_label {
    background-image: url('./assets/img/shiny_label.png');
}

.silky_label {
    background-image: url('./assets/img/silky_label.png');
}

.spiky_label {
    background-image: url('./assets/img/spiky_label.png');
}

.bouncy_label {
    background-image: url('./assets/img/bouncy_label.png');
}

.wavy_label {
    background-image: url('./assets/img/wavy_label.png');
}

.spiky_vpn {
    background-image: url('./assets/img/spiky.png');
    width: 30px;
    height: 84px;
}

.wavy_vpn {
    background-image: url('./assets/img/wavy.png');
    width: 31px;
    height: 77px;
}

.silky_vpn {
    background-image: url('./assets/img/silky.png');
    width: 31px;
    height: 77px;
}

.bouncy_vpn {
    background-image: url('./assets/img/bouncy.png');
    width: 35px;
    height: 77px;
}


.cartcontent {
    .modal.show {
        .modal-dialog {
            width: 820px;
            max-width: 820px;

            .modal-content {
                background: rgba(10, 10, 10, 0.7) !important;

                .modal-header,
                .modal-footer {
                    border: 0px;
                    padding: 5px;
                }

                .modal-header {
                    .closebtn {
                        background-image: url('./assets/img/closebutton.png') !important;
                        width: 15px;
                        height: 15px;
                        background-size: cover;
                        margin: 5px;
                    }
                }
            }
        }
    }
}

.frontpage {
    .modal.show {

        .modal-dialog {
            width: 60% !important;
            max-width: 60% !important;

            .modal-header {
                border: 0px !important;
            }

            .modal-body {
                display: flex;
                justify-content: center;
            }

            .modal-content {
                background-image: url('./assets/img/aboutpagebg.png') !important;
                background-size: cover;
                width: 100% !important;
                max-width: 100%;

            }
        }
    }
}

.innderdiv {
    width: 90%;


    .loadcontent {
        background-image: url('./assets/img/whyshorterloop.png');
        background-size: contain;
        width: 100%;
        height: 1732px;

    }

    .loadcontent1 {
        background-image: url('./assets/img/aboutshorterloop.png');
        background-size: contain;
        width: 100%;
        height: 2493px;

    }

    .loadcontent2 {
        background-image: url('./assets/img/Navigationpage.png');
        background-size: contain;
        width: 100%;
        height: 865px;

    }

}

.topright {
    position: absolute;
    width: 75px;
    left: 77px;
    top: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;

    .navigation {
        background-image: url('./assets/img/navigation.png');
        width: 30px;
        height: 30px;
        background-size: cover;
        cursor: pointer;
    }

    .information {
        background-image: url('./assets/img/information.png');
        width: 30px;
        height: 30px;
        background-size: cover;
        cursor: pointer;
    }
}

.logocontainer {
    width: 41%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .iihslogo {
        background-image: url('./assets/img/iihs.png');
        width: 64px;
        height: 50px;
        position: absolute;
        left: 10px;
        top: 10px;
        background-size: cover;
    }

    .shorterloopslogo {
        background-image: url('./assets/img/shorteloopslogo.png');
        width: 171px;
        height: 55px;
        background-size: cover;
        cursor: pointer;

    }
}


$panel-size: 125px;
$button-size: 50px;

.round-panel {
    position: fixed;
    width: $panel-size;
    height: $panel-size;
    border-radius: 50%;
    background-color: #f0f0f0;
    left: 28px;
    top: 85px;
}

.button {
    position: absolute;
    width: $button-size;
    height: $button-size;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    &.topbtn {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.left {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.right {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
    }

    &.bottom {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    &.zoomIn {
        top: 100%;
        left: 0%;
        transform: translate(-50%, -50%);
    }
    &.zoomOut {
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
}