<div class="container-fluid landingpage">
    <div class="row">
        <div class="logocontainer">
            <div class="iihslogo"></div>
            <div class="shorterloopslogo" (click)="openwhyshorter(whyshorterloop)"></div>
        </div>

        <div class="topright" style="width:100px;">
            <div class="navigation"(click)="opennavshorter(navigation)"></div>
            <div class="information" (click)="openaboutshorter(aboutshorterloop)"></div>
        </div>
    </div>
    <div class="row no-gutter">

        <!-- Demo content-->
        <div class="container loginblock">
            <div class="row">
                <div class="col-lg-6 col-xl-3 col-md-4 col-sm-4 leftblock">
                    <h3 class="displaytext">Login</h3>
                    <h4 class="displaytext1">Welcome to Shorterloops!</h4>
                    <p></p>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group mb-2">
                            <input id="inputusername" type="username" formControlName="username"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Username" required="" autofocus=""
                                class="form-control rounded-pill border-0 shadow-sm px-4">
                        </div>
                        <div class="form-group mb-3">
                            <input id="inputPassword" type="password" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted  }" placeholder="Password" required=""
                                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                        </div>
                        <button type="submit"
                            class="btn btn-block text-uppercase mb-2 rounded-pill shadow-sm loginbtn">Login</button>
                    </form>
                    <div class="signuptxt"><a routerLink="/signup">Register</a></div>
                </div>
            </div>
        </div><!-- End -->

    </div>
</div>

<ng-template #whyshorterloop let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <div class="innderdiv">
        <div class="loadcontent"></div>
       </div>
    </div>
</ng-template>

<ng-template #aboutshorterloop let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <div class="innderdiv">
        <div class="loadcontent1"></div>
       </div>
    </div>
</ng-template>

<ng-template #navigation let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <div class="innderdiv">
        <div class="loadcontent2"></div>
       </div>
    </div>
</ng-template>
