.maincity_container {
    width: 100vw;
    height: 100vh;

    .topbar {
        position: absolute;
        height: 50px;
        top: 0px;
        left: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;

        #logout {
            font-size: 12px;
        }

        .picholder {
            position: absolute;
            right: 28px;
            width: 40px;
            height: 40px;
        }

        .displaypic {
            position: absolute;
            width: 40px;
            height: 40px;
            background-size: cover;
            border-radius: 50%;
        }

        .cityname {
            position: absolute;
            margin: 0 auto;
            font-size: 26px;
            color: #000;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .displayrole {
            width: 100px;
            position: absolute;
            right: 69px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            height: 50px;
            display: flex;
            @extend .commmoncenter;
        }

        .logo {
            position: absolute;
            left: 0px;
            width: 80px;
            height: 80px;
            background-image: url('./../../assets/img/logo.png');
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.8);
        }

    }


    .maincity {
        background-image: url('./../../assets/img/city.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 8001px;
        background-position: center;
        height: 4501px;
        margin: auto;

        .location {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;

            .supermarket_loc {
                left: 1632px;
                top: 2752px;
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                position: absolute;
            }
            .junction_role{
                left: 1632px;
                top: 2752px;
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                position: absolute;
            }
        }

        .houselite {
            position: absolute;
            width: 54px;
            height: 55px;
            background-image: url('./../../assets/img/houselight.png');
            background-size: cover;
        }

        .cart {
            background-image: url('./../../assets/img/shoppingcart.svg');
            width: 67px;
            background-repeat: no-repeat;
            position: absolute;
            height: 99px;
            background-size: contain;

            .cartavatar {
                width: 30px;
                height: 30px;
                position: absolute;
                left: -30px;
                border-radius: 50%;
            }
        }

        .housedisplay {
            width: 165px;
            height: 20px;
            color: #fff;
            font-size: 12px;
            position: absolute;
        }

        .displaypanel {
            width: 77px;
            height: 33px;
            position: absolute;
            color: #fff;
            font-size: 9px;
            line-height: 14px;
            text-align: center;
            @extend .commmoncenter;
        }

        .House1 {
            top: 3429px;
            left: 705px;
        }

        .House2 {
            top: 3428px;
            left: 1042px;
        }

        .House3 {
            top: 3428px;
            left: 1379px;
        }

        .House4 {
            top: 3428px;
            left: 1715px;
        }

        .House5 {
            top: 3428px;
            left: 2054px;
        }

        .House6 {
            top: 3853px;
            left: 706px;
        }

        .House7 {
            top: 3853px;
            left: 1041px;
        }

        .House8 {
            top: 3854px;
            left: 1378px;
        }

        .House9 {
            top: 3853px;
            left: 1715px;
        }

        .House10 {
            top: 3854px;
            left: 2053px;
        }

        .Recycling {
            top: 3854px;
            left: 5938px;
        }

        .Supermarket {
            top: 3854px;
            left: 6275px;
        }

        .Grocery {
            top: 3853px;
            left: 6613px;
        }

        .Ubottle {
            top: 3853px;
            left: 6949px;
        }

        .Making {
            top: 3853px;
            left: 7287px;
        }

        .Reverse {
            top: 3428px;
            left: 7286px;
        }

        .Plastic {
            top: 3429px;
            left: 6950px;
        }

        .Refilling {
            top: 3428px;
            left: 6613px;
        }

        .Bottle {
            top: 3428px;
            left: 6275px;
        }

        .Mayor {
            top: 3428px;
            left: 5938px;
        }

        .boardholder {
            .commoncls {
                position: absolute;
                width: 95px;
                height: 37px;
                background-size: cover;
                color: #fff;
                font-size: 20px;
                @extend .commmoncenter;

            }

            .Supermarket {
                @extend .commoncls;
                left: 1910px;
                top: 2466px;
            }

            .Recycling {
                @extend .commoncls;
                left: 1985px;
                top: 877px;
            }

            .Making {
                @extend .commoncls;
                left: 4185px;
                top: 615px;
            }

            .Ubottle {
                @extend .commoncls;
                left: 4500px;
                top: 1511px
            }

            .Refilling {
                @extend .commoncls;
                left: 5622px;
                top: 2807px;
            }
        }

        .mayorflag {
            background-image: url('./../../assets/img/openflag.svg');
            width: 161px;
            height: 145px;
            position: absolute;
            left: 4028px;
            top: 2041px;
            display: none;
        }

    }

    .supermarketlocation {

        top: 3854px;
        left: 6275px;

    }
}

.commmoncenter {
    display: flex;
    justify-content: center;
    align-items: center;
}