<div class="maincity_container">
    <div class="maincity" #maincity id="maincity" [hidden]="opensuperflag!=0">
        <div class="truck side"></div>
        <div class="cart">
            <div class="cartavatar" (click)="opensuperflag=1;opensupermarket();"></div>
            <div class="cartid"></div>
        </div>
        <div class="housedisplay">{{currentusername | titlecase}}</div>
        <div class="boardholder">
            <div class="Supermarket commoncls">CLOSED</div>
            <div class="Plastic commoncls">CLOSED</div>
            <div class="Ubottle commoncls">CLOSED</div>
            <div class="Making commoncls">CLOSED</div>
            <!-- <div class="Refilling commoncls">CLOSE</div> -->
        </div>

        <div class="mayorflag"></div>
        <div id="clock"></div>
        <div id="day"></div>
        <div class="mayorofzboard">{{cityname | uppercase}} MUNICIPAL OFFICE</div>
        <div class="leftcolony">{{cityname | uppercase}} HOUSING COLONY</div>
        <div class="rightcolony">{{cityname | uppercase}} HOUSING COLONY</div>
        <div class="houselitewrapper">
            <div *ngFor='let key of objkey(positionObject);let i = index' class="houselite {{key}}">
            </div>
        </div>
        <div class="householder">
            <div *ngFor='let key of objkey(positionObject);let i = index' class="displaypanel {{key}}">
            </div>
            <div *ngFor='let key of objkey(positionObject);let i = index' class="housedisplay {{key}}">
            </div>
        </div>
        <div class="supermarketentry"></div>


    </div>
    <div class="supermarketstage" [hidden]="opensuperflag!=1">

        <div class="loadimg" #supermarket>
            <div class="exit" (click)="opensuperflag=0;dopanzoom( -911.801, -2188.2,'1')"></div>
            <div id="innerdoor"></div>
            <div id="checklight"></div>
            <div class="conveyorbottledropper">
                <div cdkDropList #droppedList="cdkDropList" [cdkDropListConnectedTo]="[bottleList]"
                    [cdkDropListData]="bottledropped" (cdkDropListDropped)="drop($event)" class="bottle_list">
                    <div *ngFor="let item of bottledropped" class="bottle {{item}}" cdkDrag></div>
                </div>
            </div>
            <div class="cart supermarketcart">
                <!--audio #welcome loop [volume]="0.8" muted="muted">
                    <source src="assets/audio/birds.mp3" type="audio/mp3">
                </audio-->
                <div class="cartavatar"></div>
                <div class="cartid"></div>
                <div class="bottleholder">
                    <div cdkDropList #bottleList="cdkDropList" [cdkDropListConnectedTo]="[droppedList]"
                        [cdkDropListData]="bottles" (cdkDropListDropped)="drop($event)" class="cart_bottle_list">
                        <div *ngFor="let item of bottles" class="bottle {{item}}" cdkDrag></div>
                    </div>
                </div>

                <div class="newbottleholder">
                    <div cdkDropList #bottlesshopped="cdkDropList"
                        [cdkDropListConnectedTo]="[shinyvpnbottle,shinyuvpnbottle,wavyurprbottle,spikyrpnbottle,spikyrprbottle,bouncyurpnbottle,bouncyrpnbottle,silkyvpnbottle]"
                        [cdkDropListData]="bottletaken" (cdkDropListDropped)="drop($event)" class="newbottle_list">
                        <div *ngFor="let item of bottletaken"
                            class="{{currentusercityId}}{{item}} {{item.split('.')[0]}}" cdkDrag></div>
                    </div>
                </div>

            </div>

            <div class="newrak">

                <div class="shinyshelfvpn dropper">
                    <div cdkDropList #shinyvpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="shinyvpn" (cdkDropListDropped)="drop($event)" class="shinyvpn_list"
                        [cdkDropListEnterPredicate]="checkcondition">
                        <div *ngFor="let item of shinyvpn" class="shiny_vpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag></div>
                    </div>
                </div>
                <div class="shinyshelfuvpn dropper">
                    <div cdkDropList #shinyuvpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="shinyuvpn" (cdkDropListDropped)="drop($event)" class="shinyuvpn_list"
                        [cdkDropListEnterPredicate]="checkshinyuniver">
                        <div *ngFor="let item of shinyuvpn" class="shiny_uvpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="spikeshelfrpn dropper">
                    <div cdkDropList #spikyrpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="spikyrpn" (cdkDropListDropped)="drop($event)" class="spikyrpn_list"
                        [cdkDropListEnterPredicate]="checkspikyrpn">
                        <div *ngFor="let item of spikyrpn" class="spikyrpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="spikeshelfrpr dropper">
                    <div cdkDropList #spikyrprbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="spikyrpr" (cdkDropListDropped)="drop($event)" class="spikyrpr_list"
                        [cdkDropListEnterPredicate]="checkspikyrpn">
                        <div *ngFor="let item of spikyrpr" class="spikyrpr" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="bouncyshelfrpn dropper">
                    <div cdkDropList #bouncyrpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="bouncyrpn" (cdkDropListDropped)="drop($event)" class="bouncyrpn_list"
                        [cdkDropListEnterPredicate]="checkbouncyrpn">
                        <div *ngFor="let item of bouncyrpn" class="bouncyrpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="bouncyshelfurpn dropper">
                    <div cdkDropList #bouncyurpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="bouncyurpn" (cdkDropListDropped)="drop($event)" class="bouncyurpn_list"
                        [cdkDropListEnterPredicate]="checkbouncyurpn">
                        <div *ngFor="let item of bouncyurpn" class="bouncyurpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="wavyshelfurpn dropper">
                    <div cdkDropList #bouncyurpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="wavyurpn" (cdkDropListDropped)="drop($event)" class="wavyurpn_list"
                        [cdkDropListEnterPredicate]="checkwavyurpn">
                        <div *ngFor="let item of wavyurpn" class="wavyurpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="wavyshelfurpr dropper">
                    <div cdkDropList #wavyurprbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="wavyurpr" (cdkDropListDropped)="drop($event)" class="wavyurpr_list"
                        [cdkDropListEnterPredicate]="checkwavyurpn">
                        <div *ngFor="let item of wavyurpr" class="wavyurpr" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
                <div class="silkyshelfvpn dropper">
                    <div cdkDropList #silkyvpnbottle="cdkDropList" [cdkDropListConnectedTo]="[bottlesshopped]"
                        [cdkDropListData]="silkyvpn" (cdkDropListDropped)="drop($event)" class="silkyvpn_list"
                        [cdkDropListEnterPredicate]="checksilkyvpn">
                        <div *ngFor="let item of silkyvpn" class="silkyvpn" id="{{currentusercityId}}{{item}}"
                            (click)="opensticker(bottlesticker,$event)" cdkDrag>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="refillinstation" [hidden]="opensuperflag!=2">
        <div class="loadimgrefill" #refillingstation>
                   <audio #cityrail  [volume]="0.3" muted="muted">
                    <source src="assets/audio/cityrail.mp3" type="audio/mp3">
                   </audio>
                   <audio #welcome  [volume]="0.8" muted="muted">
                    <source src="assets/audio/welcome.mp3" type="audio/mp3">
                   </audio>
                   <audio #placebottle  [volume]="0.8" muted="muted">
                    <source src="assets/audio/placebottle.mp3" type="audio/mp3">
                   </audio>
                   <audio #bottledroppeded  [volume]="0.8" muted="muted">
                    <source src="assets/audio/bottledropped.mp3" type="audio/mp3">
                   </audio>
                   <audio #selectbrand  [volume]="0.8" muted="muted">
                    <source src="assets/audio/selectbrand.mp3" type="audio/mp3">
                   </audio>
                   <audio #bottledifferent  [volume]="0.8" muted="muted">
                    <source src="assets/audio/bottledifferent.mp3" type="audio/mp3">
                   </audio>
                   <audio #checkprice  [volume]="0.8" muted="muted">
                    <source src="assets/audio/checkprice.mp3" type="audio/mp3">
                   </audio>
                   <audio #useplusminus  [volume]="0.8" muted="muted">
                    <source src="assets/audio/useplusminuskey.mp3" type="audio/mp3">
                   </audio>
                   <audio #collectbottle  [volume]="0.8" muted="muted">
                    <source src="assets/audio/collectyourbottle.mp3" type="audio/mp3">
                   </audio>
                   <audio #thankyou  [volume]="0.8" muted="muted">
                    <source src="assets/audio/thankyou.mp3" type="audio/mp3">
                   </audio>
            <div id="refillcart">
                <div class="cartavatar"></div>
                <div class="cartid"></div>
                <div class="refillbottleholder">
                    <div cdkDropList #bottlestoberefilled="cdkDropList" [cdkDropListConnectedTo]="[shinyrefill]"
                        [cdkDropListData]="refillbottles" (cdkDropListDropped)="drop($event)" class="refill_list ">
                        <div *ngFor="let item of refillbottles"
                            class="{{currentusercityId}}{{item}} {{item.split('.')[0]}} refillbtl" cdkDrag></div>
                    </div>

                </div>


            </div>
            <div class="panel">
                <div class="displaylight on"></div>
                <div class="displayboard">Welcome to the shampoo self refilling station!. 
                    Please place your empty bottle on the conveyor.</div>
                <div class="brandsection">
                    <div class="shiny" (click)="refillbrandselected='shiny';(droppedbottle==false)?  $event.stopPropagation():checkrefillselect();"></div>
                    <div class="bouncy" (click)="refillbrandselected='bouncy';(droppedbottle==false)?  $event.stopPropagation():checkrefillselect();"></div>
                    <div class="spiky" (click)="refillbrandselected='spiky';(droppedbottle==false)?  $event.stopPropagation():checkrefillselect();"></div>
                    <div class="silky" (click)="refillbrandselected='silky';(droppedbottle==false)?  $event.stopPropagation():checkrefillselect();"></div>
                    <div class="wavy" (click)="refillbrandselected='wavy';(droppedbottle==false)?  $event.stopPropagation():checkrefillselect();"></div>
                </div>
                <div class="adjustment">
                    <div class="up" (click)="(brandselected==false)?  $event.stopPropagation():increament();"></div>
                    <div class="down"(click)="(brandselected==false)?  $event.stopPropagation():decrement();"></div>
                </div>
                <div class="start" (click)="(quantityselected==false)?  $event.stopPropagation():startanimation();"></div>
                <div class="cancel" (click)="(quantityselected==false)?  $event.stopPropagation():increament();"></div>
                <div class="continue" (click)="(resetanimation==false)?$event.stopPropagation():resetrefilling();">Continue</div>
            </div>
            <div class="animationpanel">
                <div class="capremover">
                    <div id="pressor"></div>
                    <div class="middlepart"></div>
                </div>
                <div class="capadder">
                    <div id="cappressor"></div>
                    <div class="capmiddlepart"></div>
                </div>
                <div class="shinyfiller"></div>
                <div class="wavyfiller"></div>
                <div class="silkyfiller"></div>
                <div class="bouncyfiller"></div>
                <div class="spikyfiller"></div>
                <div class="gearbox">
                    <div class="gear_0 gear"></div>
                    <div class="gear_1 gear"></div>
                    <div class="gear_2 gear"></div>
                    <div class="gear_3 gear"></div>
                </div>
            </div>
            <div class="bdropper">
                <div class="refilldropper">
                    <div cdkDropList #shinyrefill="cdkDropList" [cdkDropListConnectedTo]="[bottlestoberefilled]"
                        [cdkDropListData]="shinyrefilling" (cdkDropListDropped)="drop($event)" class="refilllist">
                        <div *ngFor="let item of shinyrefilling" class="{{item.split('.')[0]}} refillbtl" id="{{item}}"
                            cdkDrag>
                        </div>
                    </div>

                    
                </div>
                
            </div>

        </div>
    </div>

    <div class="topbar">
        <div class="logo"></div>
        <div class="displayrole">{{currentusername | titlecase}}</div>


        <div ngbDropdown class="picholder">
            <div type="button" class="displaypic" id="dropdown" ngbDropdownToggle>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdown">
                <button ngbDropdownItem *ngIf="currentrole=='Customer'" (click)="switchrole()">Switch Role</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'" (click)="switchcustomerrole()">Switch Role as
                    Customer</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Check the municipality office cashbox
                    status</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Check the office ledger book</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Run the garbage truck daily</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Update the City Rule Book</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Update Notices and Announcements</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Generate Reports</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Set the City Clock Tower Tick rate</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Audit the universal bottle cleaning
                    process</button>
                <button ngbDropdownItem *ngIf="currentrole=='Mayor'">Audit the refilling station</button>

                <div ngbDropdown class="d-inline-block">
                    <div type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                        Exit
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="innerdrop">
                        <button ngbDropdownItem (click)="leavecity()">Leave a City</button>
                        <button ngbDropdownItem (click)="logout()">Logout</button>
                        <button ngbDropdownItem (click)="exit()">Exit without Logout</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Your Avatar</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div *ngFor='let in of newmale' class="pics pic_{{in}}" (click)="selectphoto(in)">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click');saveavatar();">Save</button>
    </div>
</ng-template>

<!-- Modal -->
<ng-template #bottlesticker let-modal>
    <div class="modal-header newheader">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="bottlelable">
            <div class="frontpart {{frontclass}}">
                <div *ngIf='leblfound' class="labelbig {{frontlabel}}"></div>
            </div>
            <div class="backside {{bottleclass | lowercase}}back">
                <div class="labelholder">
                    <div class="DOM">{{assetdata[0].DOM}}</div>
                    <div class="Quantity">{{assetdata[0].Quantity}} {{assetdata[0].Units}}</div>
                    <div class="Current_Refill_Count">{{assetdata[0].Current_Refill_Count}}</div>
                    <div class="Latest_Refill_Date">{{assetdata[0].Latest_Refill_Date}}</div>
                    <div class="Shampoo_Price">&#8377;{{shapooprice}}</div>
                    <div class="Content_Price">&#8377; {{assetdata[0].Content_Price}}</div>
                    <div class="Bottle_Price">&#8377; {{assetdata[0].Bottle_Price}}</div>
                    <div class="Discount_RefillB">&#8377; {{assetdata[0].Discount_RefillB}}</div>
                    <div class="Redeem_Good">&#8377; {{assetdata[0].Redeem_Good}}</div>
                    <div class="Discard_fine">&#8377; {{assetdata[0].Discard_fine}}</div>
                    <div class="Env_Tax">&#8377; {{assetdata[0].Env_Tax}}</div>
                    <div class="Total_price">&#8377; {{totalamount}}</div>
                    <div class="AssetId">{{assetdata[0].AssetId}}</div>

                </div>
            </div>
        </div>
    </div>

</ng-template>


