.maincity_container {
    width: 100vw;
    height: 100vh;
    #logout{
        position:absolute;
        right:0px;
        top:0px;
    }
    .maincity {
        background-image: url('./../../assets/img/city.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 8001px;
        background-position: center;
        height: 4501px;
        margin: auto;
    
        .cart {
            background-image: url('./../../assets/img/shoppingcart.svg');
            width: 67px;
            background-repeat: no-repeat;
            position: absolute;
            height: 99px;
            background-size: contain;
        }

        .housedisplay {
            width: 165px;
            height: 20px;
            color: #fff;
            font-size: 12px;
            position: absolute;
        }

        .displaypanel {
            width: 52px;
            height: 25px;
            position: absolute;
            color: #f00;
            font-size: 20px;

        }
    }
}