<div class="menu-container hamburger" [ngClass]="{'open': menuOpen}">
    <div class="hambergerbutton">
        <div class="hamburger" (click)="toggleMenu()">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <nav class="slide-menu">
        <div class="profilemenu">

    

            <div ngbAccordion #accordion="ngbAccordion" *ngIf="currentrole!=''">
                <div ngbAccordionItem="first">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            <div class="displaypic"></div> {{currentrole | titlecase}}
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                {{this.switchyesorno}}
                                <div *ngIf="this.switchyesorno==1">
                                    <div (click)="callswitchcustomerrole()">Switch Role as {{currentrole}}
                                    </div>
                                </div>
                                <div *ngIf="this.switchyesorno==2">
                                    <button (click)="callswitchcustomerrole()">Switch Role as Customer</button>
                                    <div class="disabled">Check the municipality office cashbox status</div>
                                    <div class="disabled">Check the office ledger book</div>
                                    <div class="disabled">Run the garbage truck daily</div>
                                    <div class="disabled">Update the City Rule Book</div>
                                    <div class="disabled">Update Notices and Announcements</div>
                                    <div (click)="showNewComponent()">Show Asset Audit Trail</div>
                                    <div class="disabled">Set the City Clock Tower Tickrate</div>
                                    <div class="disabled">Audit the universal bottle cleaning process</div>
                                    <div class="disabled">Audit the refilling station</div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="hamburger-menu">


            <div class="ham-menuitem" (click)="toggleMenu();opennavshorter(navigation)">
                <div class="navigation"></div> Navigation
            </div>
            <div class="ham-menuitem" (click)="toggleMenu();openaboutshorter(aboutshorterloop)">
                <div class="information"></div> About
            </div>




        </ul>
    </nav>
</div>
<ng-template #whyshorterloop let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="innderdiv">
            <div class="loadcontent"></div>
        </div>
    </div>

</ng-template>

<ng-template #aboutshorterloop let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="innderdiv">
            <div class="loadcontent1"></div>
        </div>
    </div>

</ng-template>

<ng-template #navigation let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="innderdiv">
            <div class="loadcontent2"></div>
        </div>
    </div>
</ng-template>